{% load custom_filters %}

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            <small><p {% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p></small>
        {% endfor %}
    </div>
{% endif %}

{% for field in form %}
    <div class="form-group mb-4">
        {% if is_settings_general %}    
            {% if field.auto_id == 'id_city' %}
                {{ field.label_tag }}
                {{ field|addclass:'selectpicker form-control form-control-lg border' }}
            {% else %}
                {{ field.label_tag }}
                {{ field|add_validation_class }}
                 <p class="mb-0 text-muted small">{{ field.help_text|safe }}</p>
            {% endif %}
        {% else %}
            {% if field.auto_id == 'id_is_title_visible' %}
            <div class="custom-control custom-checkbox d-block mb-4">
                {{ field|addclass:'custom-control-input' }}
                <label class="custom-control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            </div>
            {% else %}
                {{ field.label_tag }}
                {{ field|add_validation_class }}
                <p class="mb-0 text-muted small">{{ field.help_text|safe }}</p>
            {% endif %}
        {% endif %}

        {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
        {% endfor %}
    </div>
{% endfor %}


